.filter-movie-theater {
  display: grid;

  grid-template-columns: minmax(200px, 400px) 1fr minmax(200px, 400px);
  grid-template-rows: 1fr 507px 100px 2fr;
  grid-template-areas:
    "navbar-container navbar-container navbar-container"
    "movie-post-section movie-section abs-section"
    "movie-description-section movie-description-section abs-section"
    "movie-list-section movie-list-section abs-section";

  row-gap: 30px;

  .navbar-container {
    grid-area: navbar-container;
  }

  .movie-post-section {
    grid-area: movie-post-section;
    display: grid;
    align-items: center;
    justify-content: center;

    .movie-post {
      width: 343px;
      height: 507px;

      img {
        width: 343px;
        height: 507px;
        border-radius: 20px;
      }
    }
  }

  .movie-section {
    grid-area: movie-section;
    display: flex;
    justify-content: center;
    align-items: center;

    .movie-container {
      border-radius: 10px;
      overflow: hidden;
      height: 100%;
      width: 100%;
    }
  }

  .movie-description-section {
    grid-area: movie-description-section;
    display: flex;

    justify-content: center;
    color: var(--white-color);

    .title-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px 20px;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      border-radius: 10px;

      .title-info-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h3 {
          margin: 0;
        }
      }

      p {
        margin: 0;
      }
    }

    .description-container {
      padding: 10px 20px;
      min-width: 200px;
      max-width: 600px;
      width: 100%;
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;
      margin: 0 0 0 30px;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      border-radius: 10px;

      h3 {
        margin: 0;
      }

      p {
        margin: 0;
      }
    }

    .actors-container,
    .directors-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      border-radius: 10px;
      padding: 10px 20px;
      margin: 0 0 0 30px;

      h3 {
        margin: 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        li {
          list-style: none;
        }
      }
    }
  }

  .movie-list-section {
    grid-area: movie-list-section;
    display: flex;
    align-items: center;
    justify-content: center;
    .list-container {
      width: 90%;
      height: 100px;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
      border-radius: 10px;
    }
  }

  .abs-section {
    grid-area: abs-section;

    display: flex;
    justify-content: center;
    align-items: start;

    .abs-container {
      width: 347px;
      height: 750px;
      border-radius: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-backdrop-filter: blur(15px);
      backdrop-filter: blur(15px);
    }
  }
}

@media (max-width: 1180px) {
  .filter-movie-theater {
    display: grid;
    overflow-x: hidden;

    grid-template-columns: 300px 1fr;
    grid-template-rows: 2fr 2fr 1fr 1fr;
    grid-template-areas:
      "navbar-container movie-section"
      "navbar-container movie-section"
      "abs-section movie-description-section"
      "abs-section movie-list-section";

    .navbar-container {
      grid-area: navbar-container;
      width: 250px;
      padding-top: 10px;

      .user-container {
        width: 200px;
      }
    }

    .movie-post-section {
      display: none;
    }

    .movie-section {
      height: 500px;
      padding-top: 10px;

      .movie-container {
        width: 100%;
      }
    }

    .movie-description-section {
      .description-container {
        margin-left: 0;
      }
    }

    .movie-list-section {
      .list-container {
        margin-left: 0;
      }
    }

    .abs-section {
      .abs-container {
        height: 200px;
        width: 250px;
      }
    }
  }
}
